table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
}

.current-day {
  background-color: #4caf50 !important;
  color: white;
}

.weekend-day {
  background-color: #ffccbc;
  color: black;
}

.other-day {
  background-color: #f1f1f1;
  color: black;
}
