<div class="main">


  <div class="btn-box" >
    <button mat-flat-button color="primary"  (click)="add()">Add Job</button>


  </div>




      <form *ngIf="addJob">





        <mat-form-field  >
          <mat-label >Compnay name</mat-label>
          <input matInput [(ngModel)]="applicationInfo.companyName" name="companyName" >
        </mat-form-field>

        <mat-form-field>
          <mat-label>Compnay website URL</mat-label>
          <input matInput [(ngModel)]="applicationInfo.companyUrl" name="url" >

        </mat-form-field>

        <mat-form-field>
          <mat-label>Compnay description</mat-label>
          <textarea matInput [(ngModel)]="applicationInfo.companyDesc" name="desc" > </textarea>
        </mat-form-field>

        <button mat-flat-button color="primary" (click)="addPos()">Add Postition</button>


        <form *ngIf="addPosition">


          <mat-form-field  >
            <mat-label >Enter postition name</mat-label>
            <input matInput [(ngModel)]="applicationInfo.posName" name="compName" >
          </mat-form-field>

          <mat-form-field>
            <mat-label>Enter position level</mat-label>
            <input matInput [(ngModel)]="applicationInfo.posLevel" name="posLevel" >
          </mat-form-field>

          <mat-form-field>
            <mat-label>Enter position description</mat-label>
            <textarea matInput [(ngModel)]="applicationInfo.posDesc" name="posDesc" > </textarea>
          </mat-form-field>

          <div>
            <mat-form-field>
              <mat-label>From</mat-label>
              <input matInput [matDatepicker]="fromPicker" [(ngModel)]="applicationInfo.fromDate" name="fromDate" readonly>
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="fromPicker"></mat-datepicker-toggle>
              <mat-datepicker #fromPicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
              <mat-label>To</mat-label>
              <input matInput [matDatepicker]="toPicker" [(ngModel)]="applicationInfo.toDate" name="toDate" readonly>
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="toPicker"></mat-datepicker-toggle>
              <mat-datepicker #toPicker></mat-datepicker>
            </mat-form-field>
          </div>


          <button mat-flat-button color="primary" (click)="addPost()">Add</button>


        </form>

      </form>

  <div *ngIf="arr.length > 0">
    <div *ngFor="let company of arr; let i = index">
      <h3>Company {{ i + 1 }}</h3>
      <p><strong>Name:</strong> {{ company.name }}</p>
      <p><strong>URL:</strong> <a href="{{ company.url }}" target="_blank">{{ company.url }}</a></p>
      <p><strong>Description:</strong> {{ company.desc }}</p>
      <p><strong>Position Name:</strong> {{ company.posName }}</p>
      <p><strong>Position Level:</strong> {{ company.posLevel }}</p>
      <p><strong>Position Description:</strong> {{ company.posDesc }}</p>
      <p><strong>Date From:</strong> {{ company.dateFrom }}</p>
      <p><strong>Date To:</strong> {{ company.dateTo }}</p>
    </div>
  </div>


</div>







