form {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-color: #e1e1e1;
  padding: 40px;
  border-radius: 50px;
}

.btn-box {
  width: 100%;
  text-align: center;
  padding-top: 20px;
}

button {
  width: 500px;
  margin-bottom: 50px;
}

.job-card {
  margin-bottom: 20px;
}

mat-card {
  width: 100%;
}











